/*  
    #a4c2d1; egg blue
    #184f63; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body{
    font-family: "poppins" sans-serif;
    background-color:#a4c2d1; 
}

h1,
h2 {
    font-family: "DM Serif Display", serif;
    color: #184f63;
}

.sharp-corners,
.sharp-corners * {
    border-radius: 0;

}

/* buttons */
.custom-button{
    background-color: #1f7798;
    border: #1f7798
}

.custom-button:hover{
    background-color: #1d6d8a;
    border: #1d6d8a;
}




/* About Section */

#about{
    background-color: white;
}

/* portfolio section */

#portfolio{
    background-color: #184f63;
}

#portfolio .card-title{
    color: #1f7798;
    font-size: 1.2rem;
}

#portfolio .btn-outline-secondary:hover{
    background-color: #1f7798;
}

#portfolio .card-text{
    min-height: 120px;
}


/* contact section */

#contact{
    background-color: white;
}

#hero{
    background-color: #184f63;
    background-image: url(../images/background.webp);
    background-size: cover;
    background-position: 50% 70%;
    min-height: 500px;
    padding: 5% 7%;
}

/* media queries */


@media screen and (min-width: 1200px) {
    #portfolio.card-text{
        min-height: auto;
    }
} 
    
